{% extends 'main.html' %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>Project</th>
            <th>Votes</th>
            <th>Positive Votes</th>
            <th>Created</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for project in projects %}
        <tr>
            <td><a href="/project/{{project.id}}">{{project.title}}</a></td>
            <td>{{project.vote_total}}</td>
            <td>{{project.vote_ratio}}%</td>
            <td>{{project.created}}</td>   
            <td><a href="/update-project/{{project.id}}">Edit</a></td>     
            <td><a href="{% url 'delete-project' project.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}